.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 130px;
    height: 104px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);

    &__logo {
        font-weight: 700;
        font-size: 48px;
        line-height: 72px;
        letter-spacing: 0.01em;
        color: #000000;
    }

    &__options {
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.01em;
        color: rgba(0, 0, 0, 0.72);
    }

    &__option {
        margin-left: 25px;

        &--active {
            margin-left: 24px;
            color: rgba(0, 0, 0, 1);
            text-decoration-line: underline;
        }
    }

    &__menu {
        display: none;
    }
}

.header {
    margin-left: 130px;

    &__breadcrumbs {
        display: flex;
        align-items: center;
        margin: 40px 0 40px;
    }

    &__breadcrumbs-image {
        height: 24px;

        img {
            width: 24px;
        }
    }

    &__chevron {
        display: flex;
        align-items: center;
        margin: 0 14px 0 8px;
    }

    &__parent-link {
        color: $base-text-color;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        font-size: 14px;
        margin-left: 5px;
    }

    &__current-site {
        color: $base-blue;
        font-weight: 700;
        letter-spacing: 0.01em;
        text-align: left;
        font-size: 14px;
    }

    &__rectangles {
        img {
            width: 110px;
            height: 100%;
        }
    }

    &__baner {
        display: flex;
        width: 100%;
        height: 100px;
        margin-bottom: 40px;
    }

    &__baner-text {
        font-weight: 700;
        font-size: 64px;
        line-height: 83px;
        text-transform: capitalize;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__baner-image {
        width: 100%;
        background-color: $base-blue;
        background-size: cover;
        position: relative;

        img {
            height: 100%;
            width: 100%;
            max-height: 100px;
            opacity: 0.35;
            mix-blend-mode: multiply;
        }
    }
}

.upper-section {
    display: flex;

    &__office-images {
        min-width: 50%;
    }

    &__horizontal-image {
        img {
            width: 91%;
            height: 300px;
            object-fit: cover;
        }
    }

    &__vertical-image {
        display: flex;
        justify-content: flex-end;
        margin-top: -160px;

        img {
            width: 51%;
            height: 490px;
            object-fit: cover;
        }
    }

    &__text {
        margin: 0 130px 0 52px;
        color: $base-text-color;
        text-align: justify;
    }

    &__introduction {
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
        letter-spacing: 0em;
        margin-bottom: 18px;
        margin-top: -15px;
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;

        div {
            margin-bottom: 24px;
        }
    }
}

.bottom-section {
    display: flex;

    &__text {
        margin: -12px 10px 30px 130px;
    }

    &__introduction {
        color: $base-text-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        margin-bottom: 32px;
        margin-top: -5px;
        text-align: justify;
    }

    &__list-header {
        font-weight: 500;
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 26px;
    }

    &__list {
        font-weight: 500;
        line-height: 26px;
        font-size: 14px;

        ul {
            list-style-type: none;
            display: inline-block;
            padding-left: 0px;
            margin-left: 31px;
            margin-bottom: 20px;

            li {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    left: -30px;
                    bottom: 5px;
                    background-color: $base-blue;
                }
            }
        }
    }

    &__summary {
        font-weight: 500;
        line-height: 26px;
        font-size: 14px;
    }

    &__image {
        min-width: 46%;
        margin-top: 70px;
        margin-left: 60px;

        img {
            width: 100%;
            background-size: cover;
        }
    }
}

.swiper {
    width: 83%;
    margin: 50px auto 0 auto !important;
    padding: 45px 100px 50px 100px !important;
}

.swiper-slide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;

    &__slide-1 {
        width: 110%;
    }

    &__slide-2 {
        grid-column: 2/4;
        grid-row: 1;

        img {
            width: 100%;
        }
    }

    &__slide-3 {
        margin-left: -28px;
        width: 110%;
    }

    &__slide-4 {
        width: 110%;
    }

    &__slide-5 {
        width: 110%;
    }

    &__slide-6 {
        grid-column: 3/5;
        grid-row: 2;

        img {
            width: 100%;
        }

    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        height: 325px;
        border-radius: 10px;
        opacity: 0.85;

        &:hover {
            opacity: 1;
        }
    }
}

.swiper-slide-prev {
    margin-left: -140px;
    margin-right: 140px;
}

.swiper-slide-next {
    margin-right: -140px;
    margin-left: 140px;
}

.swiper-button-prev {
    margin-top: -10px !important;
    left: 50px !important;

    &::after {
        content: "" !important;
    }
}

.swiper-button-next {
    margin-top: -10px !important;
    right: 50px !important;

    &::after {
        content: "" !important;
    }
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    margin: 20px 5px 0px 5px !important;
}

.swiper-pagination-bullet-active {
    background-color: $base-blue !important;
}

.modal__header {
    padding: 2px 16px;
}

.close {
    font-size: 48px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 25px;
}

#modal {
    display: none;
    position: unset;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

#modalImg {
    width: 50%;
    z-index: 999;
    border: 1px solid white;
    top: 1;
    border-radius: 15px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}


@media (max-width: 900px) {
    .nav {
        padding: 0px 20px;
        height: 86px;

        &__options {
            display: none;
        }

        &__menu {
            display: block;
        }

        &__logo {
            font-size: 36px;
            line-height: 54px;
        }
    }

    .header {
        margin-left: 20px;

        &__baner-text {
            font-size: 22px;
            line-height: 34px;
            letter-spacing: 0em;
        }

        &__chevron {
            margin-right: 5px;
        }

        &__baner {
            height: 34px;
            margin-bottom: 40px;
        }

        &__rectangles {
            img {
                width: 34px;
            }
        }
    }

    .upper-section {
        flex-direction: column-reverse;

        &__text {
            margin-right: 22px;
            margin-left: 16px;
            text-align: start;
        }

        &__introduction {
            margin-bottom: 27px;
        }

        &__description {
            margin-left: 5px;

            div {
                margin-bottom: 17px;

                &:first-child {
                    margin-bottom: 40px;
                }
            }
        }

        &__horizontal-image {
            margin-top: 48px;

            img {
                width: 100%;
                height: 185px;
            }
        }

        &__vertical-image {
            display: flex;
            justify-content: flex-end;
            margin-top: -100px;
            margin-bottom: 100px;

            img {
                width: 52%;
                height: 300px;
                object-fit: cover;
            }
        }
    }

    .bottom-section {
        flex-direction: column;

        &__text {
            margin-left: 16px;
        }

        &__introduction {
            text-align: start;
            margin-bottom: 48px;
        }

        &__image {
            margin: 10px 0 30px;

            img {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .swiper {
        width: 76%;
        margin: 25px auto 0 auto !important;
        padding: 0 50px 35px 50px !important;
    }

    .swiper-slide {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 11px !important;
        gap: 20px;

        &__slide-1 {
            grid-column: 1/5;
            grid-row: 1;
            width: 100%;
            max-width: 100%;

            img {
                width: 100%;
            }
        }

        &__slide-2 {
            grid-column: 1/3;
            grid-row: 2;
        }

        &__slide-3 {
            grid-column: 3/5;
            grid-row: 2;
            margin-left: 0px;
            width: 100%;
            max-width: 100%;
        }

        &__slide-4 {
            grid-column: 1/5;
            grid-row: 3;
            width: 100%;
            max-width: 100%;

            img {
                width: 100%;
            }
        }

        &__slide-5 {
            grid-column: 1/3;
            grid-row: 4;
            width: 100%;
            max-width: 100%;
        }

        &__slide-6 {
            grid-column: 3/5;
            grid-row: 4;

            img {
                width: 100%;
            }
        }

        img {
            height: 170px;
        }
    }

    .swiper-button-prev {
        left: 14px !important;
        margin-top: -30px !important;

        &::after {
            content: "" !important;
        }

    }

    .swiper-button-next {
        right: 14px !important;
        margin-top: -30px !important;

        &::after {
            content: "" !important;
        }
    }

    .slide-img {
        border-radius: 15px;
        width: 100%;
    }

    #modalImg {
        width: 95%;
    }

    .swiper-pagination-bullet {
        width: 13px !important;
        height: 13px !important;
    }
}